{% extends 'bootstrap.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container text-center bg-light py-5" style="border: solid; border-radius: 15px; border-color: #33cccc">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
            </div>
        {% endif %}

        <h1 class="py-3">Connexion</h1>
        
        <div class="row justify-content-center">
            <div class="form-floating mb-3 col-3">
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-floating mb-3 col-3">
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="Password">
                <label for="floatingPassword">Mot de Passe</label>
            </div>
        </div>
        

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <div class="py-3">
            <button class="btn btn-custom" type="submit">
                Se connecter
            </button>
        </div>
    </form>
</div>
{% endblock %}