{% extends "bootstrap.html.twig" %}

{% block title %}Notre produit{% endblock %}

{% block body %}

<div class="container contour bg-light">
<h1 class="text-center display-3 text-capitalize mt-5">Détails du bien immobilier</h1>

<div class="card mb-3 mt-5">
{% if habitation %}
    {# afficher l'image de la sélection  #}
    <img srcset= {{ '/uploads/' ~ habitation.image }} class="card-img-top" alt="image-immobilier" loading="lazy" >
    
    <table class="table table-striped mt-4 ">
    
        <tr><th scope="col">Ville: </th><td class="text-capitalize">{{ habitation.ville }}</td></tr>
        <tr><th scope="col">Département - Chef lieu: </th><td class="text-capitalize">{{ habitation.departement }}</td></tr>
        <tr><th scope="col">Type d'habitation : </th><td class="text-capitalize">{{ habitation.type }}</td></tr>
        <tr><th scope="col">Superficie : </th><td>{{ habitation.surface }} M²</td></tr>
        <tr><th scope="col">Prix : </th><td>{{ habitation.prix }} €</td></tr>
        <tr><th scope="col">Loyer : </th><td>{{ habitation.loyer }} €</td></tr>
        <tr><th scope="col">Rentabilité : </th><td>{{ habitation.rentabilite }} %</td></tr>
        <tr><th scope="col">Description : </th><td>{{ habitation.description|default('Pas de description')}}</td></tr>
    </table>

{% else %}
    <p>L'habitation correspondant à l'ID {{ id }} n'a pas été trouvée.</p>
{% endif %}
</div>

    <div class="d-flex justify-content-center">
        <a href="{{ path('contact') }}">
            <input type="submit" value="Nous contacter" class="btn bouton mb-5 fs-5">
        </a>
    </div>

</div> <!-- Fin du container -->

{% endblock %}
