<footer class="footer sticky-bottom container-fluid bg-dark text-white fw-bold text-center py-3">
    <div class="row bas-page justify-content-center">
        
        <div class="col-auto">
            Fred&Ana 2024 &copy; All Rights Reserved
        </div>
        <div class="col-auto">
            <a href="{{ path('contact') }}" class="nav-link text-white {% if app.request.attributes.get('_route') == 'contact' %} active {% endif %}">Contact</a>
        </div>
        <div class="col-auto">
            <a href="{{ path('cgv-cgu') }}" class="nav-link text-white {% if app.request.attributes.get('_route') == 'cgv-cgu' %} active {% endif %}">CGU-CGV</a>
        </div>
        <div class="col-auto">
            <a href="https://www.facebook.com/profile.php?id=100067340975028" target="_blank" class="link-light link-underline-opacity-0 px-1"><i class="bi bi-facebook"></i></a>
            <a href="https://www.linkedin.com/in/francki-razakanaivo-financement-immobilierderendement-projetimmobilier/" target="_blank" class="link-light link-underline-opacity-0 px-1"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.instagram.com/speedyfam/" target="_blank" class="link-light link-underline-opacity-0 px-1"><i class="bi bi-instagram"></i></a>
        </div>
        {# <div class="col-auto">
            PHP 8.2.12 | Symfony CLI version 5.8.14 (c)
        </div> #}
    </div>
</footer>

<!-- JavaScript Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
