<header class="bg-dark sticky-top">

<nav class="navbar navbar-expand-lg container navbar-dark ">

<span class="navbar-brand offset-1"><a href="{{path("home")}}"><img srcset="{{ asset('images/logo_credit-finance.png') }}" alt="logo" style="width:120px" loading="lazy"></a></span>

{# ******** création du menu de navigation responsive ***** #}
  <button class="navbar-toggler" style="background-color: rgb(96, 217, 217);" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span class="navbar-toggler-icon"></span></button>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header bg-dark">
      <h5 class="offcanvas-title text-light mx-2" id="offcanvasRightLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-dark">{# modifier background du menu offcanvas #}

<ul class="navbar-nav mx-auto" data-bs-theme="dark"> {# data-bs-theme sert à modifier le fond du menu deroulant #}
  <li class="nav-item mx-2"><a href="{{path("home")}}" class="{% if app.request.attributes.get('_route') == 'home' %} active {% endif %} nav-link">Home <i class="bi bi-house-door-fill"></i></a></li>

  <li class="nav-item dropdown mx-2">
    <a class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') in ['parc_immobilier','investissement_locatif'] %} active {% endif  %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Immobilier <i class="bi bi-building-fill"></i>
    </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{path("parc_immobilier")}}" class="{% if app.request.attributes.get('_route') == 'parc_immobilier' %} active {% endif %} navlink">Notre Parc immobilier</a></li>
        <li><a class="dropdown-item" href="{{path("investissement_locatif")}}" class="{% if app.request.attributes.get('_route') == 'investissement_locatif' %} active {% endif %} nav-link">Investissement locatif</a></li>
      </ul>
  </li>

  <li class="nav-item dropdown mx-2">
    <a class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') in ['impots','placements'] %} active {% endif  %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Investissements <i class="bi bi-bank2"></i>
    </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ path('impots') }}">Réduction d'impôts</a></li>
        <li><a class="dropdown-item" href="{{path('placements')}}" class="{% if app.request.attributes.get('_route') == 'placements' %} active {% endif %} nav-link">Nos placements</a></li>
      </ul>
  </li>

  <li class="nav-item dropdown mx-2">
    <a class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') in ['mensualites', 'credit'] %} active {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Simulation <i class="bi bi-graph-up-arrow"></i>
    </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ path('mensualites') }}">Mensualités</a></li>
        <li><a class="dropdown-item" href="{{ path("credit") }}">Crédits</a></li>
      </ul>
  </li>

  <li class="nav-item mx-2">
    <a href=" {{ path('parrainage') }} " class="nav-link {% if app.request.attributes.get('_route') == 'parrainage' %} active {% endif %}">Parrainage <i class="bi bi-gift-fill"></i></a>
  </li>

{# ****** donne la permisssion d'accéder à la gestion grâce à if app.user ***** #}
   {% if app.user %}
            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') in ['liste_parrains','user', 'gestion', 'gestion-contact'] %} active {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Gestion
                    <i class="bi bi-person-circle"></i>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href=" {{ path('gestion') }} ">Gestion des biens</a></li>
                    <li><a class="dropdown-item" href=" {{ path('gestion-contact') }} ">Gestion des contacts</a></li>
                    <li><a class="dropdown-item" href=" {{ path('liste_parrains') }} ">Liste de parrainage</a></li>
                    <li><a class="dropdown-item" href=" {{ path('user') }} ">Modifier identifiant</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href=" {{ path('app_logout') }} " class="nav-link">
                Deconnexion <i class="bi bi-box-arrow-right"></i></i>
                </a>
            </li>

            {% else %}
            <li class="nav-item mx-2">
                <a href=" {{ path('app_login') }} " class="nav-link {% if app.request.attributes.get('_route') == 'app_login' %} active {% endif  %}">
                Connexion <i class="bi bi-box-arrow-in-right"></i>
                </a>
            </li>
            {% endif %}
    </div>
  </div>      

</ul>
</nav>


</header>