{% extends "bootstrap.html.twig" %}

{% block title %}Nos Placements{% endblock %}

{% block body %}

<div class="container contour bg-light">
  <h1 class="display-3 text-center text-capitalize mt-3">Défiscalisation : loi Pinel</h1>
    <h5 class="color-title text-center text-uppercase">devenir propriétaire grâce à ses impôts </h5>

    <div class="apparaitre">
      <img src="images/defiscalisation.jpg" alt="scpi"  class="img-fluid w-100 object-fit-cover" style="height:425px;">
    </div>

  <div class="accordion mb-5" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header ">
      <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Définition :


      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      La loi Pinel est un dispositif d’investissement locatif qui <strong>permet aux particuliers de bénéficier d’une réduction d’impôt sur le revenu</strong> en investissant dans des logements neufs dont ils deviennent propriétaires.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed  fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Principes du dispositif :
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <ul>
        <p>Les investisseurs achètent <strong>des logements neufs</strong> destinés à la location</p>
        <p>Ils bénéficient d’une <strong>réduction d’impôt</strong> en respectant certaines conditions :
          <ul>
            <li>Le logement doit être situé dans un bâtiment d’habitation collectif</li>
            <li>Le loyer et les revenus du locataire sont plafonnés</li>
            <li><strong>Le logement doit atteindre un niveau minimal de performance énergétique</strong></li>
            <li>Il doit être <strong>construit dans une zone présentant un déséquilibre entre l’offre et la demande</strong></li>
            <li>La durée initiale de <strong>location est de 6 ou 9 ans, pouvant être prorogée jusqu’à 12 ans</strong></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed  fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Types de Pinel :

      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <p><strong>Pinel classique :</strong> Taux de réduction d’impôt dégressifs.</p>
       <p><strong>Pinel + :</strong> Maintien des taux antérieurs, dans certains quartiers ou sur critères énergétiques et de qualité.
       </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Biens concernés :
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Depuis le 1er janvier 2021, <strong>le dispositif Pinel est réservé aux investissements dans des logements situés dans un bâtiment d’habitation collectif.</strong></p>
        <p>Les villas individuelles au sein d’une copropriété ne sont pas éligibles.</p>
      </div>
    </div>
  </div>
   
  <div class="d-flex justify-content-center">
    <a href="{{ path('contact') }}">
      <input type="submit" value="Nous contacter" class="btn bouton mt-3 fs-5">
    </a>
  </div>
</div>


</div>


{% endblock %}