{% extends "bootstrap.html.twig" %}

{% block title %}Nos Placements{% endblock %}

{% block body %}

<div class="container contour bg-light">
  <h1 class="display-3 text-center text-capitalize mt-3">SCPI</h1>
    <h5 class="color-title text-center text-uppercase">Les avantages de l'immobilier sans contraintes</h5>

    <div class="apparaitre">
      <img src="images/chateau.jpg" alt="scpi"  class="img-fluid w-100 object-fit-cover" style="height:425px;">
    </div>

    <div class="accordion mb-5" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header ">
      <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Définition :


      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>SCPI d’entreprise :</strong> Acquiert et gère des propriétés commerciales. <br>
      <strong>SCPI d’habitation :</strong> Acquiert et gère des propriétés résidentielles. <br>
      Investir dans une SCPI peut offrir des avantages tels que la diversification, l’accessibilité et des <strong>économies d’impôts</strong> potentielles.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed  fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Processus d'investissements :

      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Pour investir dans une SCPI, vous devez acquérir une ou plusieurs parts du capital de la société. <br>
        <strong>En moyenne, une seule part d’une SCPI coûte entre 150 € et 1 000 €.</strong> <br>
        Vous pouvez vous adresser directement à une société SCPI ou utiliser un intermédiaire, tel qu’une banque, pour acheter des parts.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed  fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Risque et prudence :

      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Bien que les SCPI puissent être attractives en raison de leurs rendements potentiels, investir dans celles-ci nécessite de la prudence. Voilà pourquoi <strong>Crédit & Finance vous accompagne dans vos démarches.</strong>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Missions et rendements des SCPI :
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <h6 style="color:rgb(96, 217, 217)">Missions</h6>
        Les SCPI effectuent plusieurs tâches liées à la gestion immobilière, notamment l’acquisition de biens, la recherche de locataires, la rédaction de baux, l’entretien et la collecte des loyers. <br>
        <strong>La gestion et la souscription des biens sont comprises lors de leur acquisition, les investisseurs n'ont donc pas à s'en soucier.</strong><br><br>
        <h6 style="color:rgb(96, 217, 217)">Rendements</h6>
        Contrairement aux revenus locatifs traditionnels, <strong>les investisseurs en SCPI reçoivent des dividendes, généralement versés trimestriellement</strong>. <br>
        Le montant du dividende dépend des loyers collectés par la SCPI et du nombre de parts détenues.
      </div>
    </div>
  </div>
   
  <div class="d-flex justify-content-center">
    <a href="{{ path('contact') }}">
      <input type="submit" value="Nous contacter" class="btn bouton mt-3 fs-5">
    </a>
  </div>
</div>




</div>


{% endblock %}