{% extends "bootstrap.html.twig" %}

{% block title %} CGV - CGU {% endblock %}

{% block body %}

<div class="container contour bg-light mb-5">

<h2 class="display-5 text-center my-5">Conditions Générales d'Utilisation (CGU)</h2>

<section class="col-9 mx-auto" style="text-align:justify">
<div class="bg-secondary-subtle mb-2 fw-bold px-2 text-center">Ces conditions régissent l'utilisation de votre site web ou service. Elles couvrent des aspects comme les droits des utilisateurs, les responsabilités, la protection des données, etc.</div>


<ul class="list-unstyled">
  <li>1. Acceptation des CGU
En utilisant ce site ou service, vous acceptez de vous conformer à ces CGU. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce service.</li>
  <li>2. Modifications des CGU
Nous nous réservons le droit de modifier ces CGU à tout moment. Toute modification sera annoncée sur ce site. Vous êtes responsable de consulter régulièrement ces CGU pour prendre connaissance des changements.</li>
  <li>3. Utilisation du Service
L'utilisation de ce service est soumise aux lois et réglementations locales. Vous vous engagez à ne pas utiliser le service pour des activités illégales ou inappropriées.</li>
  <li>4. Protection des Données
Nous nous engageons à protéger vos données personnelles conformément aux lois sur la protection des données. Veuillez consulter notre politique de confidentialité pour plus d'informations.</li>
  <li>5. Propriété Intellectuelle
Tout contenu, logos et marques présents sur ce site sont la propriété de [Nom de l'entreprise]. Vous ne pouvez pas utiliser ces éléments sans autorisation écrite préalable.</li>
</ul>
</section>

<h2 class="display-5 text-center my-3">Conditions Générales de Vente (CGV)</h2>
<section class="col-9 mx-auto" style="text-align:justify">

<div class="bg-secondary-subtle fw-bold px-2 text-center">Ces conditions concernent la vente de biens ou de services et traitent des aspects tels que les commandes, les livraisons, les paiements, etc.</div>

<ul class="list-unstyled">
  <li>1. Commandes
Toutes les commandes passées via notre site ou service sont soumises à ces CGV. Nous nous réservons le droit de refuser ou d'annuler des commandes pour des raisons légitimes.</li>
  <li>2. Prix et Paiements
Les prix affichés sont en [monnaie] et peuvent changer sans préavis. Le paiement doit être effectué avant l'expédition des biens ou la prestation de services. Les méthodes de paiement acceptées sont [décrire les méthodes].</li>
  <li>3. Livraisons
Les délais de livraison sont indicatifs et peuvent varier en fonction de la localisation. Nous ne sommes pas responsables des retards causés par des événements indépendants de notre volonté.</li>
  <li>4. Retours et Remboursements
Les clients ont [nombre de jours] jours pour retourner les biens non utilisés. Les remboursements seront traités dans un délai de [nombre de jours] jours après réception des retours.</li>
  <li>5. Responsabilité
Notre responsabilité en cas de défaut ou de dommage est limitée au montant de la commande. Nous ne serons pas tenus responsables des dommages indirects ou des pertes consécutives.</li>
</ul>
</section>

</div>

{% endblock %}