{% extends "bootstrap.html.twig" %}

{% block title %} Contact {% endblock %}

{% block body %}

<div class="container contour bg-light mb-5">
 <h1 class="display-3 my-5 text-center ">Nous répondons à vos questions</h1>
 <h5 class="text-center mb-3 bg-secondary-subtle py-5">Veuillez remplir le formulaire, nous vous rappelons à l'heure et date souhaitée !</h5>
  <div class="mb-4">
    {{ form_start(form) }}

    <div class="row">
      <div class="col-6 mx-3">
        {{ form_widget(form) }}
      </div>
        
      <div class="col-5">
       <img srcset="images/contact.jpg" alt="batiment" class="w-100 img-fluid mx-3 pb-5 h-100 object-fit-cover" loading="lazy">
      </div>
      <a href="#bas" class="text-decoration-none text-dark">
        <i class="bi bi-caret-down d-flex justify-content-center fs-1 mt-5"></i>
      </a>
    </div>

<section class="section-page mb-5">
  <h1 class="display-5 text-center titre-page-contact">Nous contacter autrement</h1>
  <!-- <small class="text-center">Nous sommes disponibles du lundi au vendredi de 10h à 19h.</small> -->

  <div class="row justify-content-around"> <!-- Centre les colonnes horizontalement -->
    <div class="col-auto"> <!-- Utilisation de col-auto pour que les colonnes prennent seulement l'espace nécessaire -->
      <p class="text-center bg-light text-dark rounded p-5 mb-5">
        <i class="bi bi-phone fs-2"></i><br><br>Appelez-nous au 06 18 00 00 24
      </p>
    </div>

    <div class="col-auto"> <!-- Utilisation de col-auto pour ajuster la largeur au contenu -->
      <p class="text-center bg-light text-dark rounded p-5" id="bas">
        <i class="bi bi-send fs-2"></i><br><br>Par mail : Frazakanaivo@creditetfinance.fr
      </p>
    </div>
  </div>
</section>


</div>
        
    {{ form_end(form) }}

    

{% endblock %}