{% extends "bootstrap.html.twig" %}

{% block title %}Rachat de Crédit{% endblock %}

{% block body %}
<div class="container contour bg-light">

<div class="col-10 mx-auto" style="text-align: justify">
<h1 class="display-3 text-center mt-5">Crédits</h1>

<h3 class="text-center" style="color: rgb(96, 217, 217); margin-bottom:100px">Regrouper et renégocier vos crédits pour diminuer vos mensualités </h3>

<div class="row justify-content-between rounded" style="background:#Eaeae9">
  <div class="col-5">
    <h2 class="pt-2">Investissement loi Pinel</h2>

    {{ form_start(form) }}
        {{ form_row(form.investissement) }}
    {{ form_end(form) }}
  </div>
  
{# {% if investissement is not null %} #}
  <div class=" col-6" style="background: #145369">
      <h3 class="py-2 text-light">Réduction d'impôts</h3>
      <table class="table table-striped text-center">
          <thead>
              <tr>
                  <th>Années de détention</th>
                  <th>Réduction</th>
                  <th>Réduction</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>6</td>
                  <td>12%</td>
                  <td class="fw-bold text-secondary">{{ premierReduction }} €</td>
              </tr>
              <tr>
                  <td>9</td>
                  <td>18%</td>
                  <td class="fw-bold" style="color: #3c6c8b">{{ deuxiemeReduction }} €</td>
              </tr>
              <tr>
                  <td>12</td>
                  <td>21%</td>
                  <td class="fw-bold" style="color: #8b883c">{{ troisiemeReduction }} €</td>
              </tr>
          </tbody>
      </table>
  </div>
{# {% endif %} #}
</div>

<h4 class="bg-info-subtle py-2 text-center " style="margin-top: 100px">Comment Crédit et Finance réduit votre emprunt</h4>

<div class="row row-cols-lg-3 border">
  <div class="col">
    <h5><i class="bi bi-eyeglasses fs-3 text-warning"></i> Analyse de votre situation</h5>
    <p>Crédit & Finance étudie chaque dossier au cas par cas pour déceler les atouts de chacun des dossiers de ses clients</p>
  </div>

  <div class="col">
    <h5><i class="bi bi-journal-check fs-3 text-info"></i> Réorganisation de vos dettes</h5>
      <p>Bien souvent, un simple regroupement de vos crédits en cours permet de réduire le montant global => Crédit et Finance s’en occupe</p>
  </div>

  <div class="col">
    <h5><i class="bi bi-cash-coin fs-3 text-success"></i> Renégociation du total de vos dettes</h5>
    <p>Une fois réunis, les crédits permettent de jouer sur un levier de négociation plus important, en confrontant les différents acteurs du crédit. Crédit & Finance négocie pour vous le meilleur taux d’intérêt pour vos crédits en cours. </p>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
    <a href="{{ path('contact') }}">
      <input type="submit" value="Nous contacter" class="btn bouton mb-5 fs-5">
    </a>
</div>
{# fin de la row #}

<div class="bg-secondary-subtle p-2" style="margin-top: 100px">
<h4>Comment ça marche ?  <i class="bi bi-tools fs-3 text-success-subtle"></i></h4>
<p>
Restructurer votre dette en vous faisant racheter tous vos crédits pour les regrouper en un seul peut s’avérer être une opération très avantageuse. Le rachat de crédit est une opération pouvant être très économique. La baisse des taux permet de faire des économies substantielles surtout si vos crédits avaient été contracté à une période ou les taux étaient plus élevé. Dans 73 % des cas l’opération est avantageuse et il serait dommage de ne pas en profiter. Crédit et Finance a développé une démarche éprouvée simple et rapide pour estimer vos gains dans une telle situation.
</p>
</div>

<div style="margin-top: 100px">
<h4>Dans quels cas opter pour le rachat de crédit ? <i class="bi bi-hand-index-thumb fs-3 text-info"></i></h4>
<p>
Pour profiter d’un taux plus faible, le particulier qui a acquis son logement à crédit lorsque les taux étaient plus élevés peut se faire racheter son prêt par un autre établissement bancaire grâce à Crédit et Finance. Il faudra seulement être vigilant sur les pénalités de remboursement afin de calculer au plus juste l’économie réalisée. Vous souhaitez financer une acquisition, mais ne voulez pas vous endetter davantage. Vous pouvez également regrouper vos crédits et négocier le rachat de vos prêts immobiliers à moindre coût. Des situations de crise comme le décès, le chômage, le divorce, peuvent perturber l’équilibre de la vie d’une personne, principalement sur le plan financier… Le rachat de prêt peut être une solution efficace et adaptée.
</p>
</div>



</div>
{% endblock %}