{% extends "bootstrap.html.twig" %}

{% block title %} Réductiond'împots{% endblock %}

{% block body %}

<div class="container contour bg-light "  style="text-align:justify">
  <h1 class="display-3 text-center mt-5">Les réductions d'impôts</h1>
  <h3 class="text-center" style="color: rgb(96, 217, 217);; margin-bottom:100px" >Utiliser ses impôts comme moyen d'investissement</h3>

  {# <div class="row justify-content-between rounded mb-5" style="background:#Eaeae9">
  <div class="col-5">
    <h2 class="pt-2">Investissement loi Pinel</h2>

    {{ form_start(form) }}
        {{ form_row(form.investissement) }}
    {{ form_end(form) }}
  </div> #}
  
{# {% if investissement is not null %} #}
  {# <div class=" col-6" style="background: #145369">
      <h3 class="py-2 text-light">Réduction d'impôts</h3>
      <table class="table table-striped text-center">
          <thead>
              <tr>
                  <th>Années de détention</th>
                  <th>Réduction</th>
                  <th>Réduction</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>6</td>
                  <td>12%</td>
                  <td class="fw-bold text-secondary">{{ premierReduction }} €</td>
              </tr>
              <tr>
                  <td>9</td>
                  <td>18%</td>
                  <td class="fw-bold" style="color: #3c6c8b">{{ deuxiemeReduction }} €</td>
              </tr>
              <tr>
                  <td>12</td>
                  <td>21%</td>
                  <td class="fw-bold" style="color: #8b883c">{{ troisiemeReduction }} €</td>
              </tr>
          </tbody>
      </table>
  </div> #}
{# {% endif %} #}
{# </div> #}

  <div class="card mb-3" style="position: relative">
    <img srcset="images/ecologie.jpg" class="card-img-top" alt="ecologie" loading="lazy">

    <div class="card-title display-5 col-10" style="position: absolute; top: 15%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center; background-color: rgba(0, 0, 0, 0.5); padding: 10px;">Crédit d'Impôt pour la Transition Énergétique (CITE)</div>

    <div class="card-body col-10 mx-auto">
      
      <h3 class="card-text text-center text-success my-5 text-uppercase fw-bold">Entreprendre des travaux de rénovation énergétique pour la résidence principale</h3>
            <ul class="list-unstyled">
              <li class="my-5"><strong>Éligibilité :</strong> Il était réservé aux contribuables qui réalisaient des travaux de rénovation énergétique, comme l'installation de chaudières à condensation, de pompes à chaleur, de panneaux solaires ou d'isolation thermique.</li>
              <li class="my-5"><strong>Montants :</strong>  Le montant du crédit d'impôt dépendait du type de travaux effectués et de leur coût. Certains travaux bénéficiaient de taux spécifiques, comme 30% pour l'installation de certaines chaudières ou de fenêtres double vitrage.</li>
              <li class="my-5"><strong>Le CITE a évolué pour devenir la prime </strong><span class="text-success fw-bold">"MaPrimeRénov'"</span>, un dispositif plus orienté vers des subventions directes plutôt que des crédits d'impôt. Cette évolution vise à simplifier le processus pour les particuliers.</li>
            </ul>
            
           <h3 class="p-2 text-light text-center" style="background-color:rgb(96, 217, 217)">Bénéficier du CITE ou de MaPrimeRénov'</h3>

            <ul class="list-unstyled">
              <li class="py-5"><strong> Vérifier l'éligibilité :</strong> Consultez les critères de MaPrimeRénov' pour déterminer si les travaux que vous prévoyez sont éligibles. Le dispositif couvre différents types de rénovations énergétiques, comme l'isolation, le chauffage, ou l'installation de panneaux solaires.</li>
              <li class="pb-5"><strong>Demander des devis :</strong> Obtenez des devis détaillés de la part d'artisans qualifiés ou certifiés RGE (Reconnu Garant de l'Environnement). Ces devis serviront à déterminer le montant de la prime.
              </li>
              <li class="pb-5">
              <strong>Effectuer la demande de prime :</strong> Rendez-vous sur le site officiel de MaPrimeRénov' pour déposer votre demande. Vous devrez fournir des informations sur les travaux, les devis, et éventuellement des justificatifs supplémentaires.
              </li>
              <li class="pb-5">
              <strong>Réaliser les travaux :</strong>  Une fois votre demande acceptée, vous pouvez procéder aux travaux. Assurez-vous que tout est conforme aux normes requises pour garantir l'éligibilité.
              Recevoir la prime : Après la réalisation des travaux, vous devez soumettre des preuves d'achèvement. La prime vous sera alors versée directement.
              </li>
            </ul>

            <div class="d-flex justify-content-center mb-3">
              <a href="{{ path('contact') }}" class="btn bouton">Nous contacter</a>
            </div>
    </div>
  </div>

{# ************************** 2ème card *************************** #}

  <div class="card mb-3" style="position: relative">
    <img srcset="images/impots.jpg" class="card-img-top" alt="loi pinel" loading="lazy">

    <div class="card-title display-5 col-10" style="position: absolute; top: 15%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center; background-color: rgba(0, 0, 0, 0.5); padding: 10px;">Crédit d'Impôt pour Investissement Locatif</div>

    <div class="card-body col-10 mx-auto">
 
      <h3 class="text-center text-success my-5 text-uppercase fw-bold">Stimuler l'investissement locatif en utilisant ses impots</h3>

          <ul class="list-unstyled">
            <li class="my-5"><strong>Principe de la loi Pinel :</strong>  Elle permet aux investisseurs immobiliers de bénéficier d'une réduction d'impôt s'ils s'engagent à louer un bien neuf (ou réhabilité) pour une période de 6, 9 ou 12 ans. Le montant de la réduction d'impôt varie selon la durée de location et la zone géographique du bien.
            </li>
            <li>
            <h4 class="bg-secondary-subtle text-center p-2 my-3">Fonctionnement</h4>
            
            <table class="table table-striped">  <!-- Ajout de classe Bootstrap pour le style -->
                <thead>
                    <tr>
                        <th>Nombre d'années de location</th>  
                        <th>6 ans</th>  
                        <th>9 ans</th> 
                        <th>12 ans</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Réduction d'impôt</th>  
                        <td>12%</td>  
                        <td>18%</td>
                        <td>21%</td>
                    </tr>
                </tbody>
            </table>
            </li>

            <li class="my-5">
            <strong>Conditions :</strong> Les logements doivent respecter des normes spécifiques, et il existe des plafonds de loyer et de ressources des locataires. Les investissements immobiliers éligibles doivent être situés dans des zones définies comme ayant une demande locative importante.
            <em>Pour ces deux dispositifs</em>, il est crucial de consulter un conseiller fiscal ou un spécialiste en immobilier pour s'assurer de respecter les critères d'éligibilité et obtenir des conseils sur les meilleurs choix d'investissement. Les détails peuvent varier, et de nouvelles lois ou réformes fiscales peuvent modifier les conditions de ces crédits d'impôt.
            </li>
          </ul>

          

          <h3 class="card-text text-light text-center p-2" style="background-color:rgb(96, 217, 217)">Pour en bénéficier, suivez ces étapes :</h3>

            <ul class="list-unstyled">
              <li class="my-5">
              <strong>Investir dans un bien éligible :</strong> Achetez un bien neuf (ou réhabilité) dans une zone éligible au dispositif Pinel. Assurez-vous que le bien respecte les normes énergétiques et d'urbanisme.
              </li>
              <li class="my-5"><strong> Respecter les engagements de location :</strong> Vous devez louer le bien pendant une période déterminée (6, 9 ou 12 ans) à des locataires dont les ressources ne dépassent pas un certain plafond. Les loyers sont également plafonnés.
              </li>
             
             
              <li class="my-5"><strong>Déclarer l'investissement :</strong> Lors de votre déclaration d'impôt annuelle, vous devrez remplir des formulaires spécifiques pour indiquer votre investissement Pinel. Ces formulaires permettent de calculer la réduction d'impôt à laquelle vous avez droit.</li>
              <li class="my-5"><strong>Conserver les justificatifs :</strong> Gardez tous les documents relatifs à l'achat, à la location, et aux baux pour prouver votre engagement vis-à-vis du dispositif Pinel.
              </li>
              <li class="my-5">
              <strong>Recevoir la réduction d'impôt :</strong> En respectant les engagements de location et en déclarant correctement votre investissement, vous bénéficierez de la réduction d'impôt selon la durée de location choisie. <br>
              </li>
              <li class="my-5">
              <strong><em>Pour bénéficier de ces dispositifs de manière optimale</em></strong>, il est toujours recommandé de consulter un expert-comptable ou un conseiller fiscal. Ils vous aideront à naviguer dans les détails techniques, à maximiser vos avantages fiscaux, et à éviter les erreurs qui pourraient entraîner des pénalités, <b>Crédit & Finance</b> est là pour tenir ce rôle à vos côtés.
              </li>
            </ul>

          <div class="d-flex justify-content-center mb-3">
            <a href="{{ path('contact') }}" class="btn bouton">Nous contacter</a>
          </div>
      
    </div>
  </div>

 
</div>
{% endblock %}