{% extends "bootstrap.html.twig" %}

{% block title %}Mensualités{% endblock %}

{% block body %}
<div class="container contour bg-light mb-5" style="text-align:justify">

<h1 class="display-3 text-center my-5">Contrôler ses mensualités</h1>

  <div class="col-10 mx-auto mb-5">

  {# ***************** calcul des mensualités de credit ********************** #}
  <h3 class="border py-2 mb-5 text-uppercase">Calcul des Mensualités <i class="bi bi-calculator" style="color:purple"></i></h3>
  <div class="row">
    <div class="col-7 calcul">
      {{ form_start(form) }}
      {{ form_row(form.montant) }}
      {{ form_row(form.taux) }}
      {{ form_row(form.duree) }}
      {{ form_row(form.calculer) }}
      {{ form_end(form) }}

      {% if paiementMensuel is defined and montantTotalRembourse is defined %}
      <div class="p-2 text-light" style="background-color: #9925be">
        <p><strong>Paiement mensuel :</strong> {{ paiementMensuel }} €</p>
        <p><strong>Montant total remboursé :</strong> {{ montantTotalRembourse }} €</p>
      </div>
      {% endif %}
    </div>
    {# 2ème colonne #}
    <div class="col">
      <img srcset="{{ asset('images/calculator.jpg') }}" alt="calculatrice" class="w-100 h-100 slide-from-bottom" id="calculatrice" loading="lazy">
    </div>
  </div>
  {# ***************fin des calcul ************************ #}


<h3 class="my-3 border py-2 mt-5">L’ASSURANCE DE PRÊT  <i class="bi bi-book-half fs-3 text-warning"></i></h3>
<h5 style="background-color: rgb(96, 217, 217)" class="fw-bold text-light text-center p-2">La délégation d’assurances et le crédit immobilier</h5>


<ul class="list-unstyled mb-5">
  <li class="pb-3">Avec Crédit & Finance, <b>faites baisser le coût de votre crédit</b>.</li> 
  <li class="pb-3">Nous négocions pour vous <b>le meilleur crédit immobilier et les meilleurs tarifs</b> pour votre délégation d’assurances.</li>
  <li class="pb-3">Pour vous, Crédit & Finance fait une comparaison exhaustive des assurances de prêt afin de sélectionner <b>l’offre la plus compétitive, la plus adaptée à votre projet de financement</b></li>
  <li class="pb-3">À la différence d’un particulier, <b>Crédit et Finance dispose d’une capacité de négociation et de délégation d’assurances grâce à un volume d’affaires important auprès des banques partenaires</b></li>
  <li>Par exemple, une baisse d’un demi-point de votre taux de crédit et de 0,21 % sur l’assurance décès-invalidité pour un prêt de 100 000 euros sur 15 ans, <b>vous fait économiser : 5000 euros !</b></li>
</ul>


<div class="bg-secondary-subtle p-3 text-center">
<h6>Comment Crédit & Finance est rémunéré ?</h6>
<p>La rémunération perçue par Crédit et Finance se substituent à ceux des organismes de prêt, donc aucun frais supplémentaire n’est à prévoir.</p>
</div>

<div class="my-5">
<h5 style="background-color: rgb(96, 217, 217)" class="fw-bold text-light text-center p-2">Quels avantages avec Crédit et Finance ?</h5>
  <ul class="list-unstyled">
    <li class="pb-3">Les spécialistes de Crédit & Finance en délégation d’assurances recherchent et mettent à votre disposition des contrats compétitifs offrant <b>un large choix de garanties et de couverture</b>. Les experts en assurance de Crédit & Finance mettent à votre disposition <b>des solutions compétitives et adaptées à vos besoins</b>.</li>
    <li class="pb-3">La délégation d’assurances de prêt vous permet de bénéficier de contrat d’assurance bénéficiant de larges couvertures <b>aux meilleurs tarifs</b>. <br>
    Les établissements bancaires prévoient souvent contractuellement, l’application de pénalités de remboursement anticipé, notamment sur les prêts à taux fixe et à taux révisable capés. Celles-ci peuvent atteindre jusqu’à 3 % du capital restant dû.Crédit & Finance négocie avec les banques <b> l’absence totale de ces pénalités</b>.</li>
    <li class="pb-3"><b>A savoir sur la délégation d’assurances</b>
  Afin d’obtenir les meilleurs taux et les meilleures conditions d’assurance la banque qui vous accordera un crédit immobilier demandera généralement que vous rapatriez l’ensemble de vos revenus sur des comptes ouverts dans son établissement.</li>
  </ul>
</div>

<div class="d-flex justify-content-center mt-3">
  <a href="{{ path('contact') }}"><input type="submit" value="nous contacter" class="btn bouton"></a>
</div>

</div>


{% endblock %}