<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crédit & Finance | {% block title %}{% endblock %} </title>
    <link rel="shortcut icon" href="images/logo_credit-finance_blanc.png" type="image/x-icon">
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
   <style>

   /* *************réglage page d'accueil*************** */

/* réglages commun */
@keyframes anim {
  from {scale:  1;}
  to   {scale:  1.1;}
}

 @keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

    /* .slide-in-left {
        animation: slideInLeft 1s ease-out;
    } */

    .slide-from-bottom {
        animation: slideFromBottom 1s ease-out;
    }

.background-commun:hover{
  border: 2px solid rgb(107, 248, 248);
  box-shadow: 0px 0px 50px rgba(107, 248, 248, 0.5);
  animation: anim 0.5s linear forwards;
  opacity: 1;
  z-index:1
}

.btn-invest{
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  top: 10px;
  padding: 0 10px 3px 10px;
}
/* .btn-invest:hover{
  background-color: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: rgb(255, 255, 255);
} */

.titre-h3{
  font-weight:bold;
  padding: 10px 0;
  text-transform: uppercase; 
}

/**************************** réglage du menu de navigation ****************************/

.nav-link{
  color: #fff
}

.nav-link:hover{
  color: #C7eeee;
  text-decoration: underline
  /* box-shadow: 0px 3px 5px rgba(107, 248, 248, 0.5); */
}

.navbar .nav-item .active {
  color: rgb(96, 217, 217); /* Couleur du texte */
}


/* *********************************réglages page HOME************************************************** */

/* reglage bas de page */
.home-haut-bas-page{
  margin: 80px 0 
 }

/* investissement locatif */
.background-invest-loc{
  background-image: url("images/loft.jpg");
  border-radius: 20px;
  height: 400px;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

/* placements */

.background-placements{
  background-image: url("images/placements.jpg");
  border-radius: 20px;
  height: 400px;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  opacity: 0.7;
}

.btn-placements{
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  top: 95px;
  display: flex;
  justify-content: center;
  padding: 0 10px 3px 10px;
}
/* .btn-placements:hover{
  background-color: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: rgb(255, 255, 255);
} */

.padding-placements{
  padding-top: 180px
}

/* *******crédit****** */

.background-credit{
  background-image: url("images/credit-rachat-compressed.jpg");
  border-radius: 20px;
  height: 200px;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.btn-credit{
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  top: 55px;
  padding: 0 10px 3px 10px;
  display: flex;
  justify-content: center;
}
/* .btn-credit:hover{
  background-color: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: rgb(255, 255, 255);
} */

/* parrainage */

.background-parrainage{
  background-image: url("images/piggy-bank-compressed.jpg");
  border-radius: 20px;
  height: 190px;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.background-parrainage h3{
  margin-top: 90px;
}

.btn-parrainage {
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  /* padding: 0 10px 3px 10px; */
  display: flex;
  justify-content: center; 
  top: 95px ; 
}


/******************** css 2ème row *****************/

/* impots */
.background-impots{
  background-image: url("images/justice2.jpg");
  border-radius: 20px;
  height: 290px;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

/* simuation */

.background-simulation{
  background-image: url("images/simuler-mensualites-compressed.jpg");
  border-radius: 20px;
  height: 290px;
  background-position: center;
  background-size: cover;
  margin-left: 12px;
  opacity: 0.7;
}
.btn-simulation{
  display: flex;
  justify-content: center;
  margin-top: 170px;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 500;
 
}

/* residence principale */

.background-proprietaire{
  background-image: url("images/architecture.jpg");
  border-radius: 20px;
  height: 290px;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

/* *********** *FIN REGLAGES HOME* *****************************/

/* ********************************************************************************************* */

/* ************** PAGE INVESTISSEMENT LOCATIF ************** */
/* couleur générale des boutons */
/* .bouton{
  background-color: rgb(96, 217, 217);
  color: #fff;
  box-shadow: 0 5px 5px rgba(94, 90, 90, 0.5);
  border-radius: 20px;
  padding: 0 10px;
  border: none;
}
.bouton:hover{
  color: #ffffff;
  background-color: rgb(71, 155, 155);
} */

/* contour du fond blanc des pages */
.contour{
  border: 3px solid rgb(107, 248, 248) ;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(107, 248, 248, 0.5) ;
}

/* couleur des titres principaux des pages */
.color-title{
  color: rgb(96, 217, 217);
}

.accompagnement{
  color: rgb(159, 97, 216);
}

@keyframes apparition {
  from{opacity: 0}
  to{opacity: .5}
  to{opacity: 1}  
}


.apparaitre{
  animation: apparition 3s linear forwards; 
}

/* réglages des flèches de retour */
.arrow{
  color:#000;
}

.arrow:hover{
  color:rgb(96, 217, 217);
}

/* réglage photo formulaire d'ajout */

.photo-ajout{
  margin-left: 100px
}



/************************* réglage des boutons *************************/
    .bouton{
        background-color: rgb(96, 217, 217);
        color: #fff;
        box-shadow: 0 2px 2px rgba(94, 90, 90, 0.5);
        border-radius: 10px;
        padding: 10px;
        border: none;
        min-width: 180px;
        font-size: 20px;
      }
    .bouton:hover{
      color: #ffffff;
      background-color: rgb(71, 155, 155);
    }

    .btn-custom {
        color: #33cccc;
        background-color: transparent;
        border-color: #33cccc;
        border-radius: 15px;
        padding: 10px 15px;
        font-weight: bold;
        margin: 20px;
      }

      .btn-custom:hover {
          color: #fff;
          background-color: #33cccc;
          border-color: #33cccc;
      }
/* ***************************** REGLAGE IMAGE PAGE HOME***************************************** */

    .responsive-parrainage{
      margin-top: 10px;
      margin-bottom: 10px
    }

    .background-credit{
      height: 200px
    }

    .responsive-taux{
        margin-right: 70px;
        margin-left: 35px
      }

      .apparaitre1{
        animation: apparition 1s linear ; 
      }
      .apparaitre2{
        animation: apparition 2s linear forwards; 
      }

      .size-btn{
        width: 300px
      }

      .background-simulation{
        background-image: url("images/simuler-mensualites-compressed.jpg");
        border-radius: 20px;
        height: 290px;
        background-position: center;
        background-size: cover;
        margin-left: 12px;
        opacity: 0.7;
      }

      /* reglage de l'espace sous menu de recherche */
      .espace{
        height: 100px
      }
      .espace2{
        height: 50px;
      }

/* ******************** réglage page PARRAINAGE ***********************************/
      .cadeau{
        color: #33cccc
      }

      .cadeau:hover{
        background: #000;
        border-radius: 50px;
        border: 3px solid rgb(107, 248, 248) ;
        border-radius: 30px;
        box-shadow: 0 0 30px rgba(107, 248, 248, 0.5) ;
        color: #fff
      }

      /******************** reglage du menu FOOTER ************************/
    
      footer a.active{
        color: rgb(96, 217, 217);
      }

      .bi-facebook:hover{
        color: rgb(96, 217, 217);
      } 

      .bi-linkedin:hover{
        color: rgb(96, 217, 217);
      } 

      .bi-instagram:hover{
        color: rgb(96, 217, 217);
      }

/* ******************** REGLAGES PAGE CONTACT *****************************/
      .section-page{
        background-color: #F1f3f4;
    
      }
      .titre-page-contact{
        margin:  80px 0;
        padding-top: 30px
      }
      
/************************* MEDIA QUERIES ***************************/

      /***************** MEDIA QUERY 768px *******************/
      @media (width: 768px){
        .background-credit, .background-parrainage, .background-proprietaire{
          margin-left: -15px
        }

        /* ********** icones réseaux sociaux************* */
        .bas-page .col-2:nth-child(1) {
          margin-left: -15px; /* Moins de décalage pour le premier enfant */
        }

        .bas-page .col-2:nth-child(2) {
          margin-left: 60px; /* Plus de décalage pour le deuxième enfant */
        }

        .bas-page .col-2:nth-child(3) {
          margin-left: 70px; /* Encore plus de décalage pour le troisième enfant */
        }
        .bas-page .col-2:nth-child(4) {
          margin-left: 80px; /* Encore plus de décalage pour le troisième enfant */
        }
      
      }
/***************** media query 1024 *******************/

      @media (width:1024px){
        .btn-simulation{
          margin-top: 140px
        }
        .background-simulation{
          width: 200px
        }
        .background-proprietaire{
          width: 335px
        }
        .background-proprietaire .titre-h3{
          padding: 30px 10px
        }
        .bi{
          display: none
        }

        .decalage{
          margin-left: 15px
        }

      /* ********** icones réseaux sociaux************* */
       .bas-page .col-2:nth-child(1) {
          margin-left: -60px; /* Moins de décalage pour le premier enfant */
        }

        .bas-page .col-2:nth-child(2) {
          margin-left: 60px; /* Plus de décalage pour le deuxième enfant */
        }

        .bas-page .col-2:nth-child(3) {
          margin-left: 80px; /* Encore plus de décalage pour le troisième enfant */
        }
        
        .bas-page .col-2:nth-child(4) {
          margin-left: 100px; /* Encore plus de décalage pour le troisième enfant */
        }

        .bi-facebook, 
        .bi-linkedin, 
        .bi-instagram{
          display: inline-block
        }
        
      }



/* ****************** @MEDIA QUERY 425px ******************* */

       @media (max-width: 425px){
      .responsive-parrainage{
        margin-bottom: 10px;
        margin-top: 10px;
        /* width: 350px */
        }
        .responsive-invest{
          width: 250px;
          margin-right: 10px
        }
        .padding-placements{
          padding-top: 150px;
          width: 250px;
        }
        .titre-h3{
          margin: auto;
        }
        .responsive-type{
          display: none
        }
        .responsive-img-modif{
          display: none
        }
        .responsive-form-modif{
          width: 93%
        }
        .responsive-btn-modif{
          margin-left: 50px
        }
        .bouton{
          width: 250px
        }
      
        #calculatrice{
          display:none
        }
       .calcul{
          margin-left: 70px
       }
       .btn-reduit{
          margin-left: -40px
       }

        /* ********** icones réseaux sociaux************* */

        .bas-page .col-2:nth-child(1) {
          display: none /* Moins de décalage pour le premier enfant */
        }

        .bas-page .col-2:nth-child(2) {
          margin-left: -20px; /* Plus de décalage pour le deuxième enfant */
        }

        .bas-page .col-2:nth-child(3) {
          display: none  /* Encore plus de décalage pour le troisième enfant */
        }
        
        .bas-page .col-2:nth-child(4) {
          margin-left: 70px;  /* Encore plus de décalage pour le troisième enfant */
          display: flex;
          justify-content: space-around;
        }

      }
   
       
       
/***************** @media query 1000px *******************/

    @media (max-width: 1000px){
      .responsive-parrainage{
        margin-bottom: 10px;
        margin-top: 10px
        }
         .responsive-invest{
        margin-left: 13px;
        margin-bottom: 10px;
      }
      .responsive-placements{
        margin-right: 13px;
        margin-bottom: 10px;
      }
      .responsive-reduc-impot{
        margin-left: 13px;
        margin-bottom: 10px;
      }
      .responsive-mensualites{
        margin-right: 13px;
        margin-bottom: 10px;
      }
      .responsive-taux{
        display: flex;
        justify-content: center;
      }
      .responsive-img-invest{
        margin-right: 40px
      }
      .responsive-img-placements{
        width: 370px;
        margin: 0 auto
      }
      .responsive-table{
        display: none;
      }
      }

    </style>

{# **************************** FIN DU CSS **********************************************#}

  </head>
  <body class="bg-dark">
    
    {% include "fragment/_header.html.twig" %}

    <div class="container mt-3 px-0">
      {% block body %}{% endblock %}
    </div>
    
    {% block footer %}
      {% include "fragment/_footer.html.twig" %}

    {% block javascripts %}{% endblock %}{# message de confirmation d'envoi parrainage #}

    {% endblock %}
    