{% extends "bootstrap.html.twig" %}
{% block body %}
    <div class="container text-center bg-light py-5" style="border: solid; border-radius: 15px; border-color: #33cccc">
        <h1 class="display-6 fw-bold py-3" style= "color: #33cccc" >LISTE DE PARRAINAGE</h1>
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th colspan="3" class="border-end">Infos Parrain</td>
                        <th colspan="3" class="border-end">Infos Filleul</td>
                        <th rowspan="2" class="align-middle">Action</th>
                    </tr>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Mail</th>
                        <th scope="col" class="border-end">Tel</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Mail</th>
                        <th scope="col" class="border-end">Tel</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for key , value in parrains %}
                        <tr>
                            <td class="col-1">{{ value.NomParrain }}</td>
                            <td class="col-1">{{ value.MailParrain }}</td>
                            <td class="col-1 border-end">{{ value.TelParrain }}</td>
                            <td class="col-1">{{ value.NomFilleul }}</td>
                            <td class="col-1">{{ value.MailFilleul }}</td>
                            <td class="col-1 border-end">{{ value.TelFilleul }}</td>
                            <td class="col-2">
                                <a href="{{ path("update_parrainage", { id : value.id }) }}" class="btn btn-outline-warning">Modifier</a>
                                <a href="{{ path("delete_parrainage", { id : value.id }) }}" class="btn btn-outline-danger ms-3 delete-link">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // Intercepte le clic sur le lien de suppression
        document.querySelectorAll('.delete-link').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Empêche le lien de déclencher immédiatement la navigation
                
                // Affiche une boîte de dialogue de confirmation
                if (confirm('Êtes-vous sûr de vouloir supprimer ce parrainage ? Cette action est irréversible')) {
                    window.location.href = this.getAttribute('href'); // Si confirmé, suivre le lien de suppression
                }
            });
        });
    </script>
{% endblock %}