{% extends 'bootstrap.html.twig' %}

{% block body %}

<div class="container text-center bg-light py-5" style="border: solid; border-radius: 15px; border-color: #33cccc">
    <h1 class="display-6 fw-bold pt-3" style= "color: #33cccc" > PARRAINEZ UN DE VOS PROCHES </h1>
    <h2 style= "color: #33cccc; font-style: italic ">Modification des coordonnées :</h2>

    {{ form_start(form) }}
    <div class="row justify-content-evenly py-5">
        <div class="col-3">
            <div class="card">
                <div class="card-header fw-bold" style="background: #BDBDBD">
                PARRAIN
                </div>
                <img src="https://cdn.discordapp.com/attachments/1154711124122554378/1222101350234591293/mamie.jpg?ex=6614fd93&is=66028893&hm=f1d6209043682d86d13c0b605903e5ee5e48af9c02936f7fe07c4175c0be848b&" alt="mamie" style="height:200px; object-fit:cover">
                <div class="card-body">
                    <div class="row g-3 align-items-center justify-content-between pb-3">
                        <div class="col-auto">
                            {{ form_label(form.NomParrain, 'Nom', { 'label_attr': {'class': 'form-label'} }) }}
                        </div>
                        <div class="col-auto">
                            {{ form_widget(form.NomParrain, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center justify-content-between pb-3">
                        <div class="col-auto">
                            {{ form_label(form.MailParrain, 'Mail', { 'label_attr': {'class': 'form-label'} }) }}
                        </div>
                        <div class="col-auto">
                            {{ form_widget(form.MailParrain, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center justify-content-between">
                        <div class="col-auto">
                            {{ form_label(form.TelParrain, 'n° Tel', { 'label_attr': {'class': 'form-label'} }) }}
                        </div>
                        <div class="col-auto">
                            {{ form_widget(form.TelParrain, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="border-color: #33cccc">
                <div class="card-header fw-bold" style="background: #BDBDBD; border-color: #33cccc">
                FILLEUL
                </div>
                <img src="https://cdn.discordapp.com/attachments/1154711124122554378/1222101346589741126/cadeau.jpg?ex=6614fd92&is=66028892&hm=901cf2a54afefc39852c0bd2ebed79c7a140cdaa0dbe5b55db080a63dec98c13&" alt="cadeau" style="height:200px; object-fit:cover">
                <div class="card-body">
                    <div class="row g-3 align-items-center justify-content-between pb-3">
                        <div class="col-auto">
                            {{ form_label(form.NomFilleul, 'Nom', { 'label_attr': {'class': 'form-label'} }) }}
                        </div>
                        <div class="col-auto">
                            {{ form_widget(form.NomFilleul, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center justify-content-between pb-3">
                        <div class="col-auto">
                            {{ form_label(form.MailFilleul, 'Mail', { 'label_attr': {'class': 'form-label'} }) }}
                        </div>
                        <div class="col-auto">
                            {{ form_widget(form.MailFilleul, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center justify-content-between">
                        <div class="col-auto">
                            {{ form_label(form.TelFilleul, 'n° Tel', { 'label_attr': {'class': 'form-label'} }) }}
                        </div>
                        <div class="col-auto">
                            {{ form_widget(form.TelFilleul, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

</div>

{% endblock %}