{% extends "bootstrap.html.twig" %}
{% block body %}
    {# <h1>Liste des utilisateurs</h1> #}
    {# <a href="{{ path("app_register") }}" class="btn btn-success my-3"> Ajouter un nouvel utilisateur</a> #}
    <div class="container text-center bg-light py-5" style="border: solid; border-radius: 15px; border-color: #33cccc">
    <div class="table-responsive">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>Compte</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for key , value in user %}
                    <tr>
                        <td>{{ value.email }}</td>
                        <td>
                                <a href="{{ path("update_user", { id : value.id }) }}" class="btn btn-outline-warning">Modifier</a>
                            {# {% if value.id != app.user.id %}
                                <a href="{{ path("delete_user", { id : value.id }) }}" class="btn btn-danger ms-3">Supprimer</a>
                            {% endif %} #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}