{% extends "bootstrap.html.twig" %}

{% block body %}

<div class="container text-center bg-light py-5" style="border: solid; border-radius: 15px; border-color: #33cccc">
    <h1 class="py-3">Modifier l'utilisateur :</h1>

    {{ form_start(form) }}
        <div class="row justify-content-center">
        <div class="col-3 form-floating mb-3">
            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'|trans} }) }}
            {{ form_label(form.email, 'Email'|trans, { 'label_attr': {'class': 'form-label', 'for': 'floatingInput'} }) }}
            {% if form.email.vars.errors|length > 0 %}
                <div class="text-danger">
                    {{ form.email.vars.errors|first.message }}
                </div>
            {% endif %}
        </div>
        </div>

        <div class="row justify-content-center">
        <div class="col-3 form-floating mb-3">
            {{ form_widget(form.plainPassword, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de Passe'|trans} }) }}
            {{ form_label(form.plainPassword, 'Mot de Passe'|trans, { 'label_attr': {'class': 'form-label', 'for': 'floatingInput'} }) }}
            {% if form.plainPassword.vars.errors|length > 0 %}
                <div class="text-danger">
                    {{ form.plainPassword.vars.errors|first.message }}
                </div>
            {% endif %}
        </div>
        </div>

        <button type="submit" class="btn btn-outline-warning my-3">Modifier</button>
        
    {{ form_end(form) }}
</div>
{% endblock %}