{% extends "bootstrap.html.twig" %}

{% block title %}Gestion Habitation {% endblock %}

{% block body %}
<div class="container contour bg-light">
  <h1 class="display-3 text-center my-5" id="haut">Gestionnaire d'Habitation</h1>

    <table style="position: sticky; top: 10px;" class="mb-3 bg-success rounded text-light py-2 mx-2">
      <tr>
        <td class="fw-bold px-3">Ajouter une habitation</td>
        <td><a href="{{ path("ajout_habitation") }}"><input type="submit" value="ajouter" class="btn btn-outline-light m-2" style="width:100px" id="ajouter"></a></td>
      </tr>
    </table>

  <table class="table table-hover text-center border mb-5 ">
    <thead class="text-capitalize ">
      {# <td class="fw-bold border bg-light text-uppercase">#</td> #}
      <td class="fw-bold border bg-light text-uppercase">image</td>
      <td class="fw-bold border bg-light text-uppercase responsive-table">Département</td>
      {# <td class="fw-bold border bg-light text-uppercase">Code postal</td> #}
      <td class="fw-bold border bg-light text-uppercase">Ville</td>
      <td class="fw-bold border bg-light text-uppercase responsive-type">type</td>
      <td class="fw-bold border bg-light text-uppercase responsive-table">surface</td>
      <td class="fw-bold border bg-light text-uppercase">prix</td>
      <td class="fw-bold border bg-light text-uppercase responsive-table">loyer</td>
      {# <td class="fw-bold border bg-light text-uppercase">rentabilité</td> #}
      {# <td class="fw-bold border bg-light text-uppercase">date de création</td> #}
      <td class="fw-bold border bg-light text-uppercase">Action</td>
    </thead>
    <tbody> 
      {% for key, value in habitation %}
        <tr>
          {# <th class="bg-light text-capitalize"> {{value.id}}  </th> #}
          <td><img srcset="{{ '/uploads/' ~ value.image}}" alt="range rover" class="w-100 img-fluid object-fit-cover" style="height:100px" loading="lazy"></td>
          <td class=" text-capitalize responsive-table"> {{value.departement}} </td>
          {# <td>{{value.code_postal}}</td> #}
          <td class=" text-capitalize fw-bold border-bottom">{{value.ville}}</td>
          <td class=" text-capitalize responsive-type"> {{value.type}} </td>
          <td class=" text-capitalize border-bottom responsive-table"> {{value.surface}} </td>
          <td class=" text-capitalize fw-bold"> {{value.prix}} </td>
          <td class=" text-capitalize border-bottom responsive-table"> {{value.loyer}} </td>
          {# <th class="fw-bold bg-light text-capitalize"> {{value.rentabilité}} </th> #}
          {# <th class="fw-bold bg-light text-capitalize"> {{value.date_creation}} </th> #}
          <td>
            <a href="{{path("modifier",  {id : value.id }) }}"><input type="submit" value="modifier" class="btn btn-outline-warning my-2" style="width:100px"><br></a>

            <a href="{{path("supprimer",  {id : value.id }) }}"  onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce bien ?')"><input type="submit" value="supprimer" class="btn btn-outline-danger my-2" style="width:100px"><br></a> 
          </td>
        </tr>
      {% endfor %}
    </tbody>
    {# <tfoot>
      <tr>
        <td class="fw-bold ">Ajouter une habitation</td>
        <td><a href="{{ path("ajout_habitation") }}"><input type="submit" value="ajouter" class="btn btn-outline-success mb-1" style="width:100px" id="ajouter"></a></td>
      </tr>
    </tfoot> #}
  </table>
   <div class="d-flex justify-content-center">
      <a href="#haut"><i class="bi bi-arrow-up-circle-fill fs-2 arrow" title="retour haut de page"></i></a>
    </div>

</div>

{% endblock %}