{% extends "bootstrap.html.twig" %}

{% block title %}Modifier Habitation{% endblock %}

{% block body %}

<div class="container contour bg-light ">
 <h1 class="display-3 m-3 text-center text-capitalize">Modifier une habitation</h1>
  <div class="mb-3 ">
    {{ form_start(form) }}

    <div class="row">
      <div class="col-6 mx-3 fw-bold responsive-form-modif">
        {{ form_widget(form) }}
      </div>
        
      <div class="col-5">
        <img srcset="../images/house-compressed.jpg" alt="batiment" class="w-100 img-fluid mx-3 pb-5 h-100 object-fit-cover responsive-img-modif"  loading="lazy">
      </div>
    </div>
        
    {{ form_end(form) }}
  </div>
  
</div>

{% endblock %}