{% extends "bootstrap.html.twig" %}

{% block title %}Parc Immobilier{% endblock %}

{% block body %}


  <div class="container contour bg-light">
  <h1 class="display-3 text-center text-capitalize mt-5"  id="retour">Notre parc immobilier</h1>
  <h5 class="color-title text-center text-uppercase">Votre futur patrimoine</h5>
  
    
    <div class="row mt-5 py-3 justify-content-center bg-secondary-subtle">

    <h3 class="text-center">Recherche de biens immobiliers</h3>

        <div class="col-lg-5 my-3"> <!-- Première colonne -->
            {{ form_start(form) }}
            {{ form_row(form.departement) }}
            {{ form_row(form.type) }}
            {{ form_row(form.surface_min) }}
        </div>

        <div class="col-lg-5 my-3"> <!-- Deuxième colonne -->
            {# {{ form_row(form.prix_min) }} #}
            {{ form_row(form.prix_max) }}
            {{ form_row(form.loyer_min) }}
            {{ form_row(form.rentabilite) }}
            <div class="justify-content-end d-flex">{{ form_row(form.reinitialiser) }}</div>
        </div>

            <div class="d-flex justify-content-center">{{ form_row(form.creer)}}</div>
            {{ form_end(form) }}
          
    </div>
      

<!-- Div de flèche -->
<div class="espace2" style="position: sticky; top: 200px; z-index: 2;">
    <div class="d-flex justify-content-center mt-3">
        <a href="#retour" id="scrollArrow" style="display: none; opacity: 0.5">
            <i class="bi bi-arrow-up-circle-fill fs-2 arrow" title="retour haut de page"></i>
        </a>
    </div>
</div>

{# ****************************************************************** #}
<!-- Code JavaScript pour faire apparaître la flèche de retour en haut de page-->
<script>
  window.addEventListener('scroll', function() {
    const arrow = document.getElementById('scrollArrow');
    const scrollPosition = window.scrollY || document.documentElement.scrollTop;
    const windowHeight = window.innerHeight;
    const documentHeight = document.body.scrollHeight;

    // Seuil de défilement pour afficher la flèche
    const threshold = 100;

    // Condition pour afficher la flèche si on dépasse le seuil et qu'on n'est pas en bas de page
    if (scrollPosition > threshold && (scrollPosition + windowHeight) < documentHeight) {
      arrow.style.display = 'block';
    } else {
      arrow.style.display = 'none';
    }
  });
</script>

{# ****************************************************************************** #}

    <div class="row row-cols-1 row-cols-lg-3 g-4 mb-5 p-3">
    {% for key, value in habitation %}

      <div class="col">
        <a href="{{ path('afficher', {'id': value.id}) }}" class="card text-decoration-none anim background-commun">
          <img src="{{ '/uploads/' ~ value.image }}" class="card-img-top w-100" style="height:250px" alt="photo habitation">

          <div class="card-body">
          <button class="btn bouton mb-3 w-100">En savoir plus</button>
            {# <a href="{{ path('afficher', {'id': value.id}) }}" class="btn bouton w-100 mb-3" >Découvrir</a> #}
            <div class="card-text">
              <div class="row">
                <div class="col-5"><strong>Département :</strong></div>
                <div class="col text-capitalize"> {{value.departement}} </div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Type :</strong></div>
                <div class="col text-capitalize"> {{value.type}} </div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Surface :</strong> </div>
                <div class="col"> {{value.surface}} m²</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Prix :</strong></div>
                <div class="col"> {{value.prix}} €</div>
              </div>
              {# <div class="row">
                <div class="col-5"><strong>Loyer :</strong></div>
                <div class="col"> {{value.loyer}} € / mois</div>
              </div> #}
              {# <div class="row">
                <div class="col-5"><strong>Rentabilité :</strong></div>
                <div class="col"> {{value.Rentabilite}} % / an</div>
              </div> #}
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Date de parution : {{value.DateCreation ? value.DateCreation|date('d/m/Y') : 'Non défini'}} </small>
          </div>
        </a>
      </div>
      {% endfor %}
      
    </div>
    <div class="d-flex justify-content-center">
      <a href="#retour"><i class="bi bi-arrow-up-circle-fill fs-2 arrow" title="retour haut de page"></i></a>
    </div>
    
   </div>   

{% endblock %}

