{% extends "bootstrap.html.twig" %}

{% block title %}Gestion des contacts{% endblock %}

{% block body %}
<div class="container contour bg-light">
  <h1 class="display-3 text-center my-5" id="haut">Clients potentiels</h1>

  {% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }}">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endfor %}

  <table class="table table-hover text-center border mb-5">
    <thead class="text-capitalize">
      <tr>
        <td class="fw-bold border bg-light text-uppercase">Nom</td>
        <td class="fw-bold border bg-light text-uppercase">Prénom</td>
        <td class="fw-bold border bg-light text-uppercase">Email</td>
        <td class="fw-bold border bg-light text-uppercase">N° mobile ou fixe</td>
        <td class="fw-bold border bg-light text-uppercase">Les demandes</td>
        <td class="fw-bold border bg-light text-uppercase">Date et heure de rappel</td>
        <td class="fw-bold border bg-light text-uppercase">Action</td>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
        <tr>
          <td class="text-capitalize fw-bold responsive-table">{{ contact.nom }}</td>
          <td class="text-capitalize fw-bold border-bottom">{{ contact.prenom }}</td>
          <td class="text-capitalize responsive-type">{{ contact.email }}</td>
          <td class="text-capitalize border-bottom responsive-table">{{ contact.tel }}</td>
          <td>{{ contact.VosDemandes }}</td>
          <td class="text-capitalize border-bottom responsive-table">
            {{ contact.disponibilites ? contact.disponibilites|date('d/m/Y H:i') : 'Non défini' }}
          </td>
          <td>
            <a href="{{ path('supprimer', {id: contact.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contact ?')">
              <input type="submit" value="supprimer" class="btn btn-outline-danger my-2" style="width:100px">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <a href="#haut">
      <i class="bi bi-arrow-up-circle-fill fs-2 arrow" title="retour haut de page"></i>
    </a>
  </div>
</div>
{% endblock %}
